body {
    background-color: black;
    text-align: center;
}

h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

p .link {
    font-family: Verdana;
    font-weight: normal;
    font-size: 16px;
    color:aquamarine ;
    text-align: center; 
    text-decoration: underline;
}

video {
    align-content: center
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

div .description {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: grey;
}

.landscape {
    width: 100%;
}

footer {
    text-align: right;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
}